html{
	background-color: Purple;
	}
body{
	margin: 5px 5px 5px 5px;
	padding: 50px;
	background-image: url("Images/Background.jpg");
	text-decoration: none;
	font-family: Museo;
	border-top: 2px solid Black;
	border-left: 2px solid Black;
	border-bottom: 2px solid Black;
	border-right: 2px solid Black;
	}
body .header{
	min-width: 980px;
	color: white;
	height:350px;
	width:100%;
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	text-decoration: none;
	background-image: url("Images/pluto.jpg");
    background-repeat: no-repeat;
	}
section header{
	min-width: 980px;
	bottom: 1px:;
	color: Purple;
	height:175px;
	background: white;
	width:100%;
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	text-align: center;
	font-size: 26pt;
	font-family:impact, cursive;
	}
section{
	background: white;
	Display: Block;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	height: 100%;
	opacity: 0.6;
	min-width: 980px;
	color: black;
	width: 100%;
	}
.logo{
	position: relative;
    top: 30px;
    right: -5%;
	}
.logo:hover{
	opacity: 0.7;
	padding: 10px;
	}
h1{
	text-decoration: Underline;
	font-style: italic;
	display: block;
	color: red;
	font-weight: bold;
	font-size:16pt;
	font-family:Papyrus,fantasy;
	}
h2{
	font-weight: bold;
	color: black;
	font-size:16pt;
	font-family: ;
	text-align: center;
	}
section header h2{
	font-family:Papyrus,fantasy;
	}
p1{
	font-size:16pt;
	color: black;
	}
section img{
	padding: 2px; 
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	height: 250px;
	width: 275px;
	}
figure{
	float:right;
	}
nav{
	overflow: hidden;
	position: static;
	text-align: center;
	height: 30px;
	width: 100%;
	background-color: Black;
	font-weight: bold;
	text-decoration: none;
	color: white;
	border-top: 2px solid Black;
	border-left: 2px solid Black;
	border-bottom: 2px solid Black;
	border-right: 2px solid Black;
	}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
	display:block; 
	text-align: center;	
	text-decoration: none;
	color: white;
	}
nav li {
    display: inline;
	float: left;
    display: block;
    width: 185px;
	height: 30px;
	text-decoration: none;
	color: white;
	border-top-left-radius: 6px;
    border-top-right-radius: 6px;
	}
nav ul a:hover {
	color: White;
	background-color: Purple;
	display: block;
	text-align: center;
	height: 30px;
	font-weight: bold;
	text-decoration: none;
	border-top-left-radius: 6px;
    border-top-right-radius: 6px;
	}
nav ul a:Visited{
	color: LightGreen;
	display: block;
	text-align: center;
	height: 30px;
	font-weight: bold;
	text-decoration: none;
	border-top-left-radius: 6px;
    border-top-right-radius: 6px;
	}
.active {
	background-color: Purple;
	font-weight: bold;
	text-align: centre;
	height: 30px;
	text-decoration: none;
	border-top-left-radius: 6px;
    border-top-right-radius: 6px;
	}
nav a{
	text-decoration: None;
	color: white;
	}
div.gallery {
    margin: 5px;
    padding: 5px;
    height: 450px;
    width: auto;
    float: left;
    text-align: center;
	opacity: 1.5;
	background: white;
	border-top-left-radius: 6px;
    border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
	}
div.gallery img {
    display: inline;
    margin: 5px;
	}
div.gallerydesc {
    text-align: center;
    font-weight: normal;
	width: 275px;
    margin: 5px;
	}
footer{
	clear:both;
	overflow: hidden;
	position: static;
	height: 250px;
	width: 100%;
	background-color: Black;
	font-weight: bold;
	text-decoration: none;
	color: white;
	border-top: 2px solid Black;
	border-left: 2px solid Black;
	border-bottom: 2px solid Black;
	border-right: 2px solid Black;
	}
ul ul a{
	text-align: left;
	text-decoration: None;
	overflow: hidden;
	position: static;
	width: 100%;
	background-color: Black;
	font-weight: bold;
	text-decoration: none;
	color: white;
	border-top: 2px solid Black;
	border-left: 2px solid Black;
	border-bottom: 2px solid Black;
	border-right: 2px solid Black;
	}